<div class="panel panel-default">
  <div class="panel-body uploadForm" ng-show="!uploaded">
    <form id="js-upload-form">
      <div class="upload-drop-zone" id="drop-zone">
        KÉO THẢ HÌNH ẢNH VÀO ĐÂY or
        <button class="btn btn-outline-primary" ng-click="uploadHandle()">UPLOAD IMAGE</button> or
        <input type="text" name="" placeholder="Dán url hình ảnh" id="pasteUrl" autofocus>
        <input style="display:none" type="file" name="files[]" id="js-upload-files" accept="image/*"></input>

      </div>
    </form>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
  <div class="panel-body image" ng-show="uploaded">
    <div class="image">
      <span class="close" ng-click="close()">&times;</span>
      <div>
        <img id="imgPre" src="{{linkImage}}" alt="" style="display: none" max-width="100%" srcset="" crossOrigin="Anonymous"></img>
        <canvas id="canvas"></canvas>
      </div>

    </div>
    <div class="" ng-controller="editorController">
      <div style="display: inline;position: fixed; top: 90px;right: 0px;z-index: 999;">
        <div class="panel-body">
          <ul class="editButton">
            <li>
              <button class="btn btn-primary" ng-click="rotate()">rotate</button>
            </li>
            <li>
              <button type="button" class="btn btn-primary" ng-click="resize()">resize</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal" id="resize" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>
                <label>Chiều Dài: </label>
                <input type="number" name="resize" value="" class="form-control" ng-model="width" ng-value="width">
              </p>
              <p>
                <label>Chiều Cao: </label>
                <input type="number" name="resize" value="" class="form-control" ng-model="height" ng-value="height">
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-click="saveResize()">Lưu Thay Đổi</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
